main {
    display: flex;
}

.form-image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: start;
    margin-top: 5%;
    flex-wrap: wrap-reverse;
}

/* ************* FORMULÃRIO *************** */

.formulario {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 13.75rem;
    width: 20%;
    max-width: 18.75rem;
}

.formulario>.input {
    height: 2.3rem;
    border-radius: 0.625rem;
    border: 1px solid black;
    padding: 0.3125rem;
}

.formulario>textarea {
    padding: 0.3125rem;
    border-radius: 0.625rem;
    border: 1px solid black;
    resize: none;
    font-size: 1rem;
}

.formulario>.input:focus {
    outline-width: 0;
}

.formulario .button {
    align-self: end;
    color: white;
    padding: 0.625rem 15%;
    border-radius: 0.625rem;
    border: none;
    transition: all 0.5s;
    background-color: #1351d8;
    background-color: gray;
}

.sobre_voce {
    font-weight: 500;
    font-size: 1.25rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.aviso-privacidade {
    color: gray;
    font-size: 0.75rem;
    text-align: justify;
}

.termos:visited {
    color:  #1351d8;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label-checkbox {
    font-size: 0.8125rem;
    color: gray;
}

.concordar-termos, .concordar-novidades {
    display: flex;
    gap: 2px;
    align-items: start;
}

/* *************** IMAGEM *************** */

.xls_diesel {
    width: 70%;
    max-width: 18.75rem;
    height: auto;
    align-self: start;
}