.imagem_home {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    gap: 0.625rem;
}

main {
    display: flex;
    align-items: center;
    justify-items: center;
}

.imagem_home img {
    
    width: 85%;
    height: auto;
}

.aqui {
    color: #1351d8;
}

figcaption {
    text-align: justify;
    padding: 0 30px;
}