main {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.slider img {
    width: 85%;
    height: auto;
    margin: 0 auto;
}

.aqui {
    color: #1351d8;
}

li {
    list-style-type: none;
}

.link-item, .list-item {
    width: 100%;
    text-align: center;
}

.figcaption-class {
    padding: 0 30px;
}

.slider {
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    gap: 0.625rem;
}

.carousel {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}