main {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

/* *************** VIDEO *************** */

.video_section {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

/* *************** COMPARADOR *************** */

.comparador {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.comparador .tabela {
    width: 100%;
    display: flex;
    justify-content: center;
}

.botao_comparador {
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: #1351d8;
    color: white;
}

.legendas {
    width: 80%;
    display: flex;
    gap: 0.3125rem;
    flex-direction: column;
    width: fit-content;
}

.carro {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.abaixo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.625rem;
}

.nome_carro {
    color: #1351d8;
}