/* *************** VIDEO *************** */

.video_section {
    background-color: rgb(0, 0, 0);
    text-align: center;
}
.video_section video {
    min-width: 300px;
}

/* *************** COMPARADOR *************** */

.comparador {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
}

.comparador .tabela {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao_comparador {
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: #1351d8;
    color: white;
}

.dados {
    display: flex;
    align-items: start;
}

tr {
    display: flex;
    background-color: red;
    flex-wrap: wrap;
    justify-content: center;
}

th {
    display: flex;
}