* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", serif;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    min-height: 100sdvh;
}

/* *************** HEADER *************** */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3125rem;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.header .links_header {
    list-style: none;
    display: flex;
    gap: 1.25rem;
    font-size: large;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.header .links_header > li > a {
    text-decoration: none;
    color: #1351d8;
}

.header img {
    max-width: 9.375rem;
    width: 40%;
    height: auto;
}

/* *************** MAIN *************** */

main {
    flex-grow: 1;
}

/* *************** FOOTER *************** */

.footer {
    background-color: #1b357e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0.625rem;
    flex-wrap: wrap;
}

.footer .redes_sociais {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    flex-wrap: wrap;
}

.footer .redes_sociais .links_footer {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    img {
        width: 1.875rem;
    }
}

.logo_footer {
    height: 1.875rem;;
    width: auto;
    margin-right: 0.625rem;
}

/* *************** EFFECT ON EVERY ANCHOR ELEMENT *************** */

.link {
    transition: all 0.5s;
}

.link:hover {
    transform: scale(1.05);
}